<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ define "title" }}eye{{ end }}</title>
  <style>
    #remoteVideo {
      background: #222;
      height: 360px;
      width: 640px;
    }
  </style>
</head>
<body>
  <p>This page demonstrates viewing receive-only webrtc video+audio, from an embedded, device natively in the browser.</p>
  <video id="remoteVideo" autoplay></video>
  <script src="/static/js/adapter-latest.js"></script>
  <script>
    // Create a websocket connection for exchanging SDP data
    addr = 'ws://' +
           location.hostname+(location.port ? ':'+location.port: '') +
           '/ws';
    const ws = new WebSocket(addr);

    ws.addEventListener("message", function (event) {
      console.log("websocket received:", event.data);
    });

    ws.addEventListener("open", function (event) {
      console.log("websocket opened");
      // Create WebRTC peer-to-peer connection
      var pc = new RTCPeerConnection({ iceCandidatePoolSize: 10 });

      // register ICE candidate handler
      pc.onicecandidate = function(event) {
        if (event.candidate) {
          console.log("onicecandidate:", event.candidate);
          ws.send(JSON.stringify({
            type: "onIceCandidate",
            text: event.candidate.candidate
          }));
        } else {
          console.log("all sent");
        }
      }

      // Create offer
      pc.createOffer({ offerToReceiveAudio: true, offerToReceiveVideo: true })
      .then(function(desc) {
        console.log("createOffer success:", desc.sdp);
        pc.setLocalDescription(desc);
        ws.send(JSON.stringify({
          type: "setLocalDescription",
          text: desc.sdp
        }));
      })
      .catch(function(error) {
        console.log("createOffer failure:", error);
      });
    });
  </script>
</body>
</html>
